
/* General CSS Style */
* {                                 /* Makes the website content cover the whole browser window */
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {                              /* Adds a general white background */
    background-color: #d9dcd6;
}

a {                                 /* Makes All link white and no underline */
    color: #ffffff;
    text-decoration: none;
}

p {                                 /* Set all paragraph text to 16 px  */
    font-size: 16px;
}

/* Style for the header tag elements */
header {          
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

header h1 {                         /* Format the company name */
    display: inline-block;
    font-size: 48px;
}

header h1 #logo-custom-color {      /* Add a different color to the letter seo of the company name.  */
    color: #d9dcd6;
}

header nav {                        /* Format the size and font the nav menu */
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

header nav ul {                     /* Remove the punctuation mark on list */
    list-style-type: none;
}

header nav ul li {                  /* Groups all Nav link on the same line */
    display: inline-block;
    margin-left: 25px;
}

/* Style for the Main tag elements */
#welcome-page-image {               /* Format the Main Image of the welcome page */
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-size: cover;
    background-position: center;
}

.float-left {                       /* Float image to left side */
    float: left;
    margin-right: 25px;
}

.float-right {                      /* Float image to right side */
    float: right;
    margin-left: 25px;
}

.content {                          /* Format the main content */
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

.content section {                  /* Style all the feature on the content  */
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.content section img {              /* Limit the Height of the section image */
    max-height: 200px;
}

.content section h2 {               /* Format the header of each section */
    margin-bottom: 20px;
    font-size: 36px;
}

.benefits {                         /* Style the asides on the right side */
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

.benefit-aside {                    /* Set the margin and font color */
    margin-bottom: 32px;
    color: #ffffff;
}

.benefit-aside h3 {                 /* Set the Font Size for each benefit name */
    margin-bottom: 10px;
    text-align: center;
}

.benefit-aside img {                /* Format the icon for each benefit */
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* Style for the footer tag elements */
footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

footer h2 {
    font-size: 20px;
}

#heart-icon {                       /* Set color on heart icon on footer */
    color: red;
}
